@model thanhtoanview
@{
    ViewData["Title"] = "thanhtoan";
}

<h2>Thanh Toán</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Bàn
            </th>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Tên Món Ăn
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Giảm Giá
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.ttviewmodel)
            {
                <tr>
                    <td>
                        @item.BanID
                    </td>
                    <td>
                        @item.KhachHangID
                    </td>
                    <td>
                        @item.MonAnId
                    </td>
                    <td>
                        @item.DonGia
                    </td>
                    <td>
                        @item.SoLuong
                    </td>
                    <td>
                        @item.GiamGia
                    </td>

                    <td>
                        @item.ThanhTien
                    </td>



                </tr>
            }
        }

    </tbody>
</table>
<span style="float:right; margin-right:10px;">Tổng cộng:@ViewBag.TongTien .000đ</span>
<br />
<br />
<a class="btn btn-danger" asp-action="thanhtoanxong" asp-controller="ThuNgan" style="float:right;"asp-route-MaHD="@Model.MaHD"> THANH TOÁN </a>